.Rproj.user
.Rhistory
.RData
.Ruserdata
resources/
.DS_Store
*.DS_Store
data/uniprot-SP-GO-sorted.tab
data/uniprot_sprot.fasta
analyses/BEDtools/AllLoci-ASV.bed
analyses/AllLoci.features.txt
analyses/myobj_18
