zr1394_10_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_11_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_12_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_13_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_14_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_15_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_16_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_17_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_18_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_1_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_2_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_3_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_4_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_5_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_6_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_7_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_8_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
zr1394_9_s456_trimmed_bismark_bt2.deduplicated.sorted.bam
bgdata
zr1394_9_s456.vcf
zr1394_8_s456.vcf
zr1394_7_s456.vcf
zr1394_6_s456.vcf
zr1394_5_s456.vcf
zr1394_4_s456.vcf
zr1394_3_s456.vcf
zr1394_2_s456.vcf
zr1394_1_s456.vcf
zr1394_18_s456.vcf
zr1394_17_s456.vcf
zr1394_16_s456.vcf
zr1394_15_s456.vcf
zr1394_14_s456.vcf
zr1394_13_s456.vcf
zr1394_12_s456.vcf
zr1394_11_s456.vcf
zr1394_10_s456.vcf
